nodered_flow.json
[{"id":"db53ce3.d82973","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e4fcb21.3617a5","type":"mqtt-broker","z":"","name":"alonas_mac","broker":"192.168.43.2","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7ebcd5d0.82c4ec","type":"ui_tab","z":"","name":"BMW TMS","icon":"dashboard"},{"id":"f40b3513.4673a8","type":"ui_group","z":"","name":"Controls","tab":"7ebcd5d0.82c4ec","disp":true,"width":"6","collapse":false},{"id":"347318f2.c41dc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fe90fcd.e7041","type":"mqtt-broker","z":"","name":"roboy","broker":"192.168.0.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fd23c6be.ee2e58","type":"mqtt out","z":"db53ce3.d82973","name":"","topic":"position","qos":"","retain":"","broker":"fe90fcd.e7041","x":534.5,"y":163,"wires":[]},{"id":"75e4cf78.b3ee9","type":"ui_button","z":"db53ce3.d82973","name":"","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"label":"long unfold","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":277.5,"y":113,"wires":[["fd23c6be.ee2e58"]]},{"id":"33ab27f0.5bd7b8","type":"ui_button","z":"db53ce3.d82973","name":"","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"label":"short unfold","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":282,"y":156,"wires":[["fd23c6be.ee2e58"]]},{"id":"6867065c.d92568","type":"ui_button","z":"db53ce3.d82973","name":"","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"label":"long fold","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":274,"y":202,"wires":[["fd23c6be.ee2e58"]]},{"id":"767b97d6.5bd978","type":"ui_button","z":"db53ce3.d82973","name":"","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"label":"short fold","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":275,"y":247,"wires":[["fd23c6be.ee2e58"]]},{"id":"d4c1b92a.4e3308","type":"ui_switch","z":"db53ce3.d82973","name":"","label":"open","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":271.5,"y":330,"wires":[["cbd8cb65.48aae8"]]},{"id":"2df31a16.d4d036","type":"ui_switch","z":"db53ce3.d82973","name":"","label":"close","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":269,"y":409,"wires":[["cbd8cb65.48aae8"]]},{"id":"832408d4.ff1928","type":"ui_button","z":"db53ce3.d82973","name":"","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"label":"stop","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":64.5,"y":387,"wires":[["398dc71f.e46af8","d4c1b92a.4e3308","2df31a16.d4d036"]]},{"id":"cbd8cb65.48aae8","type":"mqtt out","z":"db53ce3.d82973","name":"","topic":"move","qos":"","retain":"","broker":"fe90fcd.e7041","x":731,"y":419,"wires":[]},{"id":"398dc71f.e46af8","type":"mqtt out","z":"db53ce3.d82973","name":"","topic":"speed","qos":"","retain":"","broker":"fe90fcd.e7041","x":282,"y":483,"wires":[]},{"id":"2bc16f4c.20107","type":"ui_toast","z":"db53ce3.d82973","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":549.5,"y":58,"wires":[]},{"id":"a0979418.d578a8","type":"mqtt in","z":"db53ce3.d82973","name":"","topic":"connected","qos":"2","broker":"fe90fcd.e7041","x":109.5,"y":52,"wires":[["6c894b19.650244"]]},{"id":"e7ddb13f.d3639","type":"ui_button","z":"db53ce3.d82973","name":"","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"label":"check connection","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":164.5,"y":722,"wires":[["d838e2c9.3caa3","3f41656b.0435ea"]]},{"id":"d838e2c9.3caa3","type":"mqtt out","z":"db53ce3.d82973","name":"","topic":"checkconnection","qos":"","retain":"","broker":"fe90fcd.e7041","x":461.5,"y":718,"wires":[]},{"id":"f5ab7d95.20219","type":"debug","z":"db53ce3.d82973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":782.5,"y":634,"wires":[]},{"id":"3f41656b.0435ea","type":"debug","z":"db53ce3.d82973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":326,"y":788,"wires":[]},{"id":"6c894b19.650244","type":"function","z":"db53ce3.d82973","name":"","func":"msg.payload = \"Feather is alive\";\nmsg.topic = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":54,"wires":[["2bc16f4c.20107"]]},{"id":"892c61e9.afcc2","type":"ui_slider","z":"db53ce3.d82973","name":"","label":"Servo","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":274.5,"y":573,"wires":[["9fd0bf29.37dc6"]]},{"id":"ac93c529.eadfd8","type":"ui_switch","z":"db53ce3.d82973","name":"","label":"pos","group":"f40b3513.4673a8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"90","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":275,"y":641,"wires":[["9fd0bf29.37dc6"]]},{"id":"9fd0bf29.37dc6","type":"mqtt out","z":"db53ce3.d82973","name":"","topic":"servo1","qos":"","retain":"","broker":"fe90fcd.e7041","x":467.5,"y":608,"wires":[]}]